* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root.light {
  --text-color: #1f1f1f;
  --bg-color: #fff;

  --aside-bg: #f3f6fc;
  --hover-bg: #c2e7ff;
  --btn-bg: #0b57d0;
  --aside-hover-bg: linear-gradient(
    0deg,
    rgba(196, 199, 197, 0.637),
    rgba(196, 199, 197, 0.658)
  );
  --btn-text: #fff;

  --hero-image: url("https://lh3.googleusercontent.com/2OrUzHCRSI-V46Z1qJBh90usG6OkKwCbXN80FbrjkWoQz4VfoJjNAoQHLHPQRZWH7dI_m5I1gi48h6xMJ5pK6kkdXmUnXPe4VqwvEdo4QeWRjLV9Oew=w2400-rj");
}
:root,
:root.dark {
  --btn-text: #062e6f;
  --bg-color: #1f1f1f;

  --aside-bg: #28292a;
  --hover-bg: #0f537d;
  --aside-hover-bg: linear-gradient(
    0deg,
    rgba(196, 199, 197, 0.08),
    rgba(196, 199, 197, 0.08)
  );
  --btn-bg: #a8c7fa;
  --text-color: #e3e3e3;

  --hero-image: url("https://lh3.googleusercontent.com/BvKj8kuRZqLpqPuuZxOl4IeHv5jaD5kT1jhn3P8EMBcmzyoHRAFXsCxNH6ZeHhQG4V1F_AegXIw2cJIBmETy7eHM27IdLQe7FqEgz6NLaXflHiHM4xyh=w2400-rj");
}
body {
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.overall-container {
  position: relative;
  display: flex;
}
/* material icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
  font-size: 25px;
  padding: 4px 20px;
  border-radius: 15px;
}
.material-symbols-outlined:hover {
  background: var(--aside-hover-bg);
}
.icon-bg {
  background-color: var(--hover-bg);
}

/* aside styles */
aside {
  position: sticky;
  padding: 10px 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 130px;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--aside-bg);
  overflow-y: auto;
  overflow-x: hidden;
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px !important;
  padding: 15px 0 !important;
  cursor: pointer;
}

/* common  */
.circle-border {
  border: 2px solid var(--text-color);
  border-radius: 70px;
  margin-top: 50px;
}
.circle-border:hover {
  background: var(--aside-hover-bg);
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

header {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  padding: 140px 0;
  height: auto;
  display: flex;
  letter-spacing: -0.2;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  max-width: 950px;
}
header h1 {
  font-size: 125px;
  font-weight: 500;
}
header p {
  font-size: 25px;
  line-height: 1.3;
}
section {
  padding: 0 10px;
}
.section-title {
  font-size: 60px;
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* card styles */
.card-container {
  display: grid;
  grid-gap: 10px;
}

.card-container .card {
  border-radius: 20px;
  background-color: var(--aside-bg);
}
.card-container .card:hover {
  background-color: var(--hover-bg);
}

/* card image */
.card-img {
  border-radius: 20px;
  width: 100%;
}

/* card information */
.card-info {
  padding: 30px;
}
.card-info h3 {
  font-size: 25px;
  font-weight: 500;
}
.card-info p {
  margin-top: 8px;
  font-size: 17px;
  line-height: 1.5;
}

/* column seperation in grid */
.col-2 {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.col-3 {
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}
/* button */
.btn:hover {
  filter: brightness(105%);
}
.btn {
  padding: 25px 50px;
  font-size: 25px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 50px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* navbar only for mobile  */
nav {
  display: none;
  align-items: center;
  position: sticky;
  top: 0;
  margin-top: 0;
  width: 100%;
  background-color: var(--aside-bg);
  height: 60px;
  z-index: 100;
  gap: 20px;
}
.mode-status {
  display: none;
}
/* for large screen */
@media screen and (min-width: 961px) {
  aside {
    display: flex !important;
  }
}

/* for medium and small screens */
@media screen and (max-width: 960px) {
  .aside-mob-bg {
    background-color: var(--hover-bg);
  }
  nav {
    display: flex;
  }
  .mode-status {
    display: block;
  }
  aside {
    display: none;
    position: fixed;
    width: 260px;
    padding-top: 80px;
    height: 100%;
    justify-content: start;
    align-items: center;
  }
  aside div {
    width: 90%;
    font-size: 25px;
    padding: 4px 20px;
    border-radius: 25px;
  }
  header {
    width: 100%;
  }
  header div {
    word-break: break-all;
    width: 100%;
  }
  aside div {
    flex-direction: row;
    justify-content: start;
  }
}
@media screen and (max-width: 700px) {
  header h1 {
    font-size: 90px;
    font-weight: 500;
  }
  header p {
    font-size: 16px;
    line-height: 1.3;
  }

  .col-2 {
    grid-template-columns: 1fr;
    word-break: break-all;
    width: 100%;
  }
  .col-3 {
    grid-template-columns: 1fr;
    word-break: break-all;
    width: 100%;
  }
}
